/.idea
/.vscode
/vendor
/node_modules
/bootstrap/cache/*.php
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/logs/*.log
.env
.env.backup
.DS_Store
/public/storage
/public/backend
/public/profile_picture
/public/passport_picture
/public/uploaded_files
/public/images/attd
/public/images/*.jpg
/public/images/*.png
Dockerfile
docker-compose.yml
.dockerignore
render.yaml
clear_cache.php

